transports/file/src/test/resources/work-directory-config-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:file="http://www.mulesoft.org/schema/mule/transport/file"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/transport/file http://www.mulesoft.org/schema/mule/transport/file/current/mule-transport-file.xsd
       http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <file:connector name="fileConnector" fileAge="500"
                    autoDelete="false" moveToDirectory="${workingDirectory}/done" streaming="true"
                    pollingFrequency="100" workDirectory="${workingDirectory}/work"
                    workFileNamePattern="#[org.mule.runtime.core.util.UUID.getUUID()].#[server.dateTime.toDate()].#[message.inboundProperties.originalFilename]">
    </file:connector>

    <file:endpoint path="${workingDirectory}/in" name="get"
                   connector-ref="fileConnector"/>

    <file:endpoint path="${workingDirectory}/out" name="put"
                   connector-ref="fileConnector"/>


    <flow name="relay">

        <file:inbound-endpoint ref="get"/>

        <test:component/>

        <file:outbound-endpoint ref="put"/>

    </flow>

</mule>
