modules/db/src/test/resources/integration/xa/xa-connection-pooling-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

    <flow name="defaultQueryRequestResponse">
        <db:select config-ref="pooledJdbcConfig" maxRows="2">
            <db:parameterized-query>select * from PLANET order by ID</db:parameterized-query>
        </db:select>

        <collection-splitter/>

        <!-- This needs to processStatement a new connection -->
        <db:delete config-ref="pooledJdbcConfig" transactionalAction="NOT_SUPPORTED">
            <db:parameterized-query>delete from PLANET where id = #[payload.id]</db:parameterized-query>
        </db:delete>
    </flow>
</mule>
