tests/integration/src/test/resources/org/mule/test/message/http-property-scope.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="listenerConfig" host="localhost" port="${port1}"/>

    <flow name="foo">
        <http:listener path="foo" config-ref="listenerConfig"/>
        <append-string-transformer message=" bar"/>
        <set-property propertyName="foo" value="#[message.inboundProperties.foo]"/>
        <echo-component/>
    </flow>

</mule>
