tests/integration/src/test/resources/org/mule/test/message/property-scope-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <flow name="foo" processingStrategy="synchronous">
        <append-string-transformer message=" bar"/>
        <set-property propertyName="foo" value="#[message.inboundProperties.foo]"/>
        <echo-component/>
    </flow>

    <flow name="s1">
        <set-property propertyName="foo2" value="#[message.inboundProperties.foo]"/>
        <flow-ref name="s2"/>
        <set-property propertyName="foo4" value="#[message.outboundProperties.foo3]"/>
    </flow>

    <flow name="s2">
        <append-string-transformer message=" bar"/>
        <set-property propertyName="foo3" value="#[message.outboundProperties.foo2]"/>
        <echo-component/>
    </flow>

    <flow name="oneWay">
        <append-string-transformer message=" bar"/>
        <set-property propertyName="foo2" value="#[message.inboundProperties.foo]"/>
        <test:queue name="queueOut"/>
    </flow>

    <flow name="rrToOneWay">
        <append-string-transformer message=" baz"/>
        <set-property propertyName="foo2" value="#[message.inboundProperties.foo]"/>
        <test:queue name="rrQueueOut"/>
    </flow>
</mule>
