tests/integration-tranports/src/test/resources/dynamic-jms-endpoint-routing-test.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:vm="http://www.mulesoft.org/schema/mule/transport/vm"
      xmlns:jms="http://www.mulesoft.org/schema/mule/transport/jms"
      xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/transport/vm http://www.mulesoft.org/schema/mule/transport/vm/current/mule-transport-vm.xsd
               http://www.mulesoft.org/schema/mule/transport/jms http://www.mulesoft.org/schema/mule/transport/vm/current/mule-transport-jms.xsd               
               http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">

    <flow name="router">
        <vm:inbound-endpoint path="inBound" exchange-pattern="request-response"/>
        <message-properties-transformer scope="outbound">
            <add-message-property key="queueName" value="step2"/>
        </message-properties-transformer>
        <request-reply timeout="5000">
            <jms:outbound-endpoint path="#[header:OUTBOUND:queueName]" exchange-pattern="one-way"/>
            <vm:inbound-endpoint path="reply" exchange-pattern="one-way"/>
        </requesr-reply>
    </flow>

    <flow name="step2Service">
        <vm:inbound-endpoint path="step2" exchange-pattern="one-way"/>
        <scripting:component>
            <scripting:script engine="groovy">
                return "step2Service";
            </scripting:script>
        </scripting:component>
        <vm:outbound-endpoint path="reply" exchange-pattern="one-way"/>
    </service>

</mule>
