tests/integration/src/test/resources/set-flow-variable-data-type-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="main">
        <set-variable variableName="testVariable" value="#['test']" encoding="UTF-16" mimeType="text/xml"/>

        <component class="org.mule.test.core.transformers.simple.SetFlowVariableDataTypeTestCase$FlowVariableDataTypeAccessor"/>
    </flow>
</mule>
