tests/integration-tranports/src/test/resources/org/mule/test/construct/flow-sync-async-processing-strategy-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:vm="http://www.mulesoft.org/schema/mule/transport/vm"
      xmlns:file="http://www.mulesoft.org/schema/mule/transport/file"
      xmlns:transports="http://www.mulesoft.org/schema/mule/transports"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/transport/vm http://www.mulesoft.org/schema/mule/transport/vm/current/mule-transport-vm.xsd
               http://www.mulesoft.org/schema/mule/transport/file http://www.mulesoft.org/schema/mule/transport/file/current/mule-transport-file.xsd
               http://www.mulesoft.org/schema/mule/transports http://www.mulesoft.org/schema/mule/transports/current/mule-transports.xsd">

    <file:connector name="SleepyFileConnector"
                    outputAppend="true" outputPattern="testfile.txt">

        <transports:service-overrides
                dispatcherFactory="org.mule.test.construct.SleepyFileMessageDispatcherFactory"/>
    </file:connector>

    <flow name="synchFlow" processingStrategy="synchronous">

        <vm:inbound-endpoint path="testSynch"
                             exchange-pattern="one-way"/>

        <flow-ref name="testFlow"/>
    </flow>

    <flow name="asynchFlow">

        <vm:inbound-endpoint path="testAsynch"
                             exchange-pattern="one-way"/>

        <flow-ref name="testFlow"/>
    </flow>

    <flow name="testFlow">

        <expression-transformer
                expression="payload.split(';')"/>

        <file:outbound-endpoint connector-ref="SleepyFileConnector"
                                path="./test">

            <expression-transformer
                    expression="payload[0]"/>

            <set-property propertyName="sleepTime"
                          value="3000"/>

        </file:outbound-endpoint>

        <file:outbound-endpoint connector-ref="SleepyFileConnector"
                                path="./test">

            <expression-transformer
                    expression="payload[1]"/>

            <set-property propertyName="sleepTime"
                          value="1000"/>

        </file:outbound-endpoint>

    </flow>

</mule>