transports/http/src/test/resources/http-cookie-test-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:http="http://www.mulesoft.org/schema/mule/transport/http"
      xmlns:vm="http://www.mulesoft.org/schema/mule/transport/vm" xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/transport/http http://www.mulesoft.org/schema/mule/transport/http/current/mule-transport-http.xsd
       http://www.mulesoft.org/schema/mule/transport/vm http://www.mulesoft.org/schema/mule/transport/vm/current/mule-transport-vm.xsd">

    <http:connector name="httpConnector" enableCookies="true"/>


    <flow name="testService">

        <vm:inbound-endpoint path="vm-in"
                             exchange-pattern="one-way"/>

        <http:outbound-endpoint address="http://localhost:${port1}/#[message.inboundProperties.PATH]"
                                method="POST" exchange-pattern="one-way"/>

    </flow>

</mule>
