transports/http/src/test/resources/rest-service-component-test-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:http="http://www.mulesoft.org/schema/mule/transport/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/transport/http http://www.mulesoft.org/schema/mule/transport/http/current/mule-transport-http.xsd">


    <flow name="WORMS">
        <http:rest-service-component
                serviceUrl="#[header:serviceUrl]" httpMethod="POST">
            <http:error-filter>
                <not-filter>
                    <wildcard-filter pattern="*xyz*"/>
                </not-filter>
            </http:error-filter>

            <http:payloadParameterName value="test-property1"/>
            <http:payloadParameterName value="test-property2"/>
            <http:requiredParameter key="r1"
                                    value="rv1"/>
            <http:requiredParameter key="r2"
                                    value="rv2"/>
            <http:optionalParameter key="o1"
                                    value="ov1"/>
            <http:optionalParameter key="o2"
                                    value="ov2"/>
        </http:rest-service-component>
    </flow>

</mule>
