tests/integration/src/test/resources/org/mule/module/xml/property-extractor-test.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:mxml="http://www.mulesoft.org/schema/mule/xml"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">

    <mxml:namespace-manager>
        <mxml:namespace prefix="foo" uri="http://foo.com"/>
    </mxml:namespace-manager>

    <flow name="test">
        <!-- this property is set from the test case as something like "#[bean:childBean.value]"
         or #[xpath:/endpoints/endpoint]
         -->
        <set-payload value="#[${selector.expression}]"/>
    </flow>
</mule>
