tests/integration/src/test/resources/org/mule/test/integration/watermark/watermark-invalid-selector-expression-config.xml
<?xml version="1.0" encoding="utf-8"?>

<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">


    <flow name="invalidSelectorExpression" processingStrategy="synchronous">
        <poll frequency="1000">
            <watermark variable="test1" default-expression="#[string:noKey]" selector="MAX" selector-expression="not an expression"/>
            <set-payload value="hello world"/>
        </poll>
        <logger message="Executed With watermark"/>
    </flow>


</mule>