tests/integration-tranports/src/test/resources/org/mule/test/usecases/routing/response/request-reply-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:vm="http://www.mulesoft.org/schema/mule/transport/vm"
        xmlns:test="http://www.mulesoft.org/schema/mule/test"
        xmlns="http://www.mulesoft.org/schema/mule/core"
        xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/transport/vm http://www.mulesoft.org/schema/mule/transport/vm/current/mule-transport-vm.xsd
        http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <flow name="main">
        <vm:inbound-endpoint path="input"/>
        <test:component appendString="-out"/>
        <request-reply storePrefix="foo">
            <vm:outbound-endpoint path="request"/>
            <vm:inbound-endpoint path="reply">
                <logger level="ERROR" message="Got to inbound endpoint: #[payload]"/>
            </vm:inbound-endpoint>
        </request-reply>
        <logger level="ERROR" message="Returned fron request-reply"/>
        <vm:outbound-endpoint path="destination"/>
    </flow>

    <flow name="request-reply">
        <vm:inbound-endpoint path="request"/>
        <test:component appendString="-and-back-in"/>
    </flow>
</mule>