tests/integration-tranports/src/test/resources/org/mule/test/integration/transaction/jms-concurrent-in-transaction.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:jms="http://www.mulesoft.org/schema/mule/transport/jms"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/transport/jms http://www.mulesoft.org/schema/mule/transport/jms/current/mule-transport-jms.xsd">

    <jms:activemq-connector name="jmsConnector" maxRedelivery="0"/>

    <jms:endpoint name="jmsInTx" queue="in">
        <jms:transaction action="ALWAYS_BEGIN"/>
    </jms:endpoint>

    <jms:endpoint name="jmsOutTx" queue="out">
        <jms:transaction action="ALWAYS_JOIN"/>
    </jms:endpoint>

    <flow name="flowWithTxConfigured">
        <inbound-endpoint ref="jmsInTx"/>
        <choice>
            <when expression="payload.equals('success')" evaluator="groovy">
                <component class="org.mule.test.integration.transaction.JmsConcurrentConsumerExecutionTestCase$SuccessComponent"/>
            </when>
            <when expression="payload.equals('failure')" evaluator="groovy">
                <component class="org.mule.test.integration.transaction.JmsConcurrentConsumerExecutionTestCase$FailureComponent"/>
            </when>
        </choice>
        <outbound-endpoint ref="jmsOutTx"/>
    </flow>

</mule>
