tests/http/src/test/resources/http-listener-headers-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd

               http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd">

    <httpn:listener-config name="listenerConfig">
        <httpn:listener-connection host="localhost" port="${port}"/>
    </httpn:listener-config>

    <flow name="empty">
        <httpn:listener config-ref="listenerConfig" path="emptyHeader"/>
        <set-payload value="#[message.getAttributes().getHeaders()['${header}']]"/>
    </flow>

    <flow name="simple">
        <httpn:listener config-ref="listenerConfig" path="simpleHeader"/>
        <set-payload value="#[message.getAttributes().getHeaders()['${header}']]"/>
    </flow>

    <flow name="multipleString">
        <httpn:listener config-ref="listenerConfig" path="multipleHeadersString"/>
        <set-payload value="#[message.getAttributes().getHeaders()['${header}']]"/>
    </flow>

    <flow name="multipleCollection">
        <httpn:listener config-ref="listenerConfig" path="multipleHeadersCollection"/>
        <set-payload value="#[message.getAttributes().getHeaders().getAll('${header}').iterator().next()]"/>
    </flow>

</mule>