tests/integration/src/test/resources/org/mule/issues/persistent-store-6007.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.mulesoft.org/schema/mule/core"

      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <custom-queue-store name="dummyPersistentStore" class="org.mule.issues.PersistentStore6007TestCase$PersistentObjectStore"/>

    <flow name="input">
        <until-successful objectStore-ref="dummyPersistentStore">
            <processor-chain>
                <logger level="WARN" message="Message Payload is #[payload:]"/>
                <component class="org.mule.issues.PersistentStore6007TestCase$Component"/>
            </processor-chain>
        </until-successful>
        <echo-component/>
    </flow>
</mule>
